[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "components/bootstrap"]
	path = components/bootstrap
	url = https://github.com/twitter/bootstrap.git
